<link rel="stylesheet" href="/css/projects.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

<main>
    <div class="col">
        <h1 class="oneday row" id="title">
            My Projects
            {{!-- <img id="logo" src="/Assets/logo.png">
            <img id="sniff" src="/Assets/sniff.gif"> --}}
        </h1>
    </div>
    <br>
    <div>
        <h1>Username: {{profile.login}}</h1>
        <h5>Repo Count: {{profile.public_repos}}</h5>
        <h6>{{profile.blog}}</h6>
        <h6>{{profile.email}}</h6>
        <h6>{{profile.last_update}}</h6>
        <p>{{profile.bio}}</p>
    </div>

</main>

<script src="../public/js/projects.js"></script>